<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

  <title>AMI-App</title>

  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="ami-app.html">
  <link rel="import" href="/bower_components/ami-import/ami-import.html">
  <link rel="import" href="/bower_components/paper-button/paper-button.html">

  <style is="custom-style">
    ami-viewer2 {
      height: 100%;
      width: 100%;
      border: 1px solid #aaaaaa;
    }

    .dropzone {
      text-align: center;
      height: 400px;
      width: 600px;
      padding: 10px;
      outline: 1px dashed #aaaaaa;
      outline-offset: -25px;
    }

    paper-button:hover {
      background-color: #E0E0E0 !important;
    }
  </style>

</head>

<body>
  <ami-app></ami-app>
  <noscript>
    Please enable JavaScript to view this website.
  </noscript>
</body>

</html>